.advertisign {
    @include mobile-padding;
    padding-top: 60px;
    padding-bottom: 80px;
    background-color: #f8f8f8;
    position: relative;

    @include border-decor;

    @include respond-to($tablet) {
      padding-top: 0;
    }
}

.advertisign__num {
    position: relative;
    font-size: 48px;
    font-weight: 800;
    width: 80px;
    margin: 0 auto;
    line-height: 1;
    letter-spacing: 0.04em;
    padding: 40px 0 0;

    &::after {
        display: block;
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        right: 0;
        bottom: 6px;
        border-radius: 50%;
        background-color: $main-color;
    }

    &--text {
        width: 250px;
        text-transform: lowercase;

        &::after {
            display: none;
        }
    }

    @include respond-to($tablet) {
      position: absolute;
      width: 70px;
      left: 50%;
      top: 5%;
      transform: translateX(-50%);

      &--text {
        width: max-content;
        top: -20px;
      }
    }
}

.advertisign__title {
    padding: 15% 18%;
    margin: 0;
    background-image: url(../../image/q@1x.png);
    background-repeat: no-repeat;
    background-position: 90% center;

    @include caption-style;

    @include respond-to($tablet) {
      width: 250px;
      padding: 7% 0;
    }
}

.advertisign__text {
    padding: 0 7%;

    @include respond-to($tablet) {
      width: 50%;
      height: max-content;
    }
}

.advertisign__list {
    @include ul-none;
}

.advertisign__img {
    padding: 10px 0 0;

    @include respond-to($tablet) {
      width: 50%;
      height: 100%;
    }
}

.advertisign__item {
  @include respond-to($tablet) {
    display: flex;
    position: relative;
    align-items: center;
    margin: 40px 0;

    &:nth-child(even) {
      .advertisign__img {
        order: -1;
      }
    }
  }
}
