.decision {
    padding: 158px 15px 0;
}

.decision__title {
    position: relative;
    padding: 0 7%;

    @include caption-style;
    @include caption-after;
}

.decision__list {
    @include ul-none;
}

.decision__item {
    padding: 0 55px;

    &:last-child {
        padding: 0 65px;
    }
}

.decision__item p {
    text-align: left;

    
}

.decision__sub-title {
    padding: 53px 0 0;
    margin: 0;
}