.decision {
    padding: 85px 15px 0;

    @include respond-to($tablet) {
      padding-top: 120px;
      background-image: url(../../image/decision-tablet-bg.png);
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 50%;
    }

    @include respond-to($desktop) {
        background-size: contain;
        padding-top: 140px;
    }
}

.decision__inner {
    @include inner;
}

.decision__title {
    position: relative;
    padding: 0 7%;

    @include caption-style;
    @include caption-after;

    @include respond-to($tablet) {
      padding: 0;
      width: 50%;
    }

    @include respond-to($desktop) {
        font-size: 50px;
        text-align: left;
    }
}

.decision__list {
    @include ul-none;

    @include respond-to($tablet) {
      display: flex;
    }

    @include respond-to($desktop) {
        width: 80%;
    }
}

.decision__item {
    padding: 0 55px;

    &:last-child {
        padding: 0 65px;
    }

    @include respond-to($tablet) {
      padding: 0 20px 0 0;
    }

    @include respond-to($desktop) {
        padding: 0 20px 0;
        text-align: left;
    }
}

.decision__item p {
    text-align: left;
}

.decision__sub-title {
    position: relative;
    padding: 53px 0 0;
    margin: 0;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #f8f8f8;
      border-radius: 43%;
      top: 40%;
      left: 50%;
      transform: translate(-50%);
      z-index: -1;

      @include respond-to($tablet) {
        left: 0;
        transform: none;
      }

      @include respond-to($desktop) {
          left: -25px;
      }
    }
}
