.footer {
    @include mobile-padding;

    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #f8f8f8;
}

.footer__inner {
    @include inner;

    @include respond-to($tablet) {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    @include respond-to($desktop) {
        // inherit tablet
    }
}

.footer__logo-wrap {
    @include respond-to($tablet) {
        text-align: left;
        width: 30%;

        img {
            width: 60px;
        }
    }
}

.footer p {
    width: 190px;
    margin: 20px auto;

    @include respond-to($tablet) {
        display: none;
    }

    @include respond-to($desktop) {
        display: initial;
        margin: 0;
    }
}

.footer p span {
    @include respond-to($tablet) {
        display: none;
    }
}

p.footer__logo-desc {
    display: none;

    @include respond-to($tablet) {
        width: auto;
        display: block;
        text-align: left;
        margin: 0;

        .tablet-only {
            display: block;
        }
    }

    @include respond-to($desktop) {
        .tablet-only {
            display: none;
        }
    }
}

.footer__contact {
     @include respond-to($tablet) {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 80%;
        padding-top: 0;
        margin-top: -20px;
     }
}
