.header {
    margin: 0 auto;
    padding: 25px 15px 0;
    min-width: 320px;
    background-image: url(../image/mobile/intro-bg-mobile@1x.png);
    background-size: 75%;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;

    @include blue-ring;

    @include respond-to($retina) {
      background-image: url(../image/mobile/intro-bg-mobile@2x.png);
    }

    @include respond-to($tablet) {
      padding-bottom: 40px;
      background-image: url(../image/tablet/intro-text-bg-tablet.png);
      background-size: contain;
      background-position: center 35%;
      background-repeat: no-repeat;
    }

    &::before {
        top: 45%;
        left: 15%;
        width: 33px;
        height: 33px;

        @include respond-to($tablet) {
          left: 4%;
          width: 50px;
          height: 50px;
          z-index: -1;
        }
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $decor-color;
        border-radius: 50%;
        top: 20%;
        right: 15%;
        width: 23px;
        height: 23px;
    }
}

.header__top {
    display: flex;
    justify-content: space-between;

    @include respond-to($tablet) {
      position: relative;
      left: 0;
      width: 100%;
      max-width: 755px;
      padding: 0 20px;
      margin: 0 auto;
    }

    @include respond-to($desktop) {
      @include inner;

      position: static;
    }
}

.header__inner {
  @include respond-to($tablet) {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0;
    font-size: 15px;
  }
}

.header__caption {
    margin: 98% 0 40px;
    position: relative;

    @include caption-style;
    @include caption-after;

    @include respond-to($tablet) {
      margin-top: 15%;
    }
}

.header__caption span {
    font-size: 18px;
    display: block;

    @include respond-to($desktop) {
      font-size: 38px;
    }
}

.header__address {
  margin: 0;
}

.header__text {
  @include respond-to($tablet) {
    position: relative;
  }

  @include respond-to($desktop) {
    text-align: left;
  }
}

.header__app {
  @include respond-to($tablet) {
    margin-top: 40px;
  }
}

.header__wrap {
  @include respond-to($tablet) {
      padding: 5% 5% 5% 40%;
      background-image: url(../image/tablet/intro-bg-tablet@1x.png);
      background-size: 40%;
      background-position: left center;
      background-repeat: no-repeat;

      @include respond-to($retina) {
        background-image: url(../image/tablet/intro-bg-tablet@2x.png);
        background-position: left 0;
      }
  }

  @include respond-to($desktop) {
    padding: 5% 5% 5% 28%;
    text-align: left;
    background-image: url(../image/desktop/intro-bg-desktop@1x.png);

    @include respond-to($retina) {
      background-image: url(../image/desktop/intro-bg-desktop@2x.png);
    }
  }
}

.header__desc {
  @include respond-to($desktop) {
    width: 78%;
  }
}
