.header {
    margin: 0 auto;
    padding: 25px 15px 0;
    min-width: 320px;
    background-image: url(../../image/img0-mobile@1x.png);
    background-size: 75%;
    background-position: center top;
    background-repeat: no-repeat;

    @include blue-ring;

    &::before {
        top: 45%;
        left: 15%;
        width: 33px;
        height: 33px;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $decor-color;
        border-radius: 50%;
        top: 20%;
        right: 15%;
        width: 23px;
        height: 23px;
    }
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.header__caption {
    margin: 98% 0 40px;
    position: relative;

    @include caption-style;
    @include caption-after;
}

.header__caption span {
    font-size: 18px;
    display: block;
}