.phone {
    width: 125px;
    text-align: right;

    @include respond-to($tablet) {
      display: flex;
      width: max-content;
      justify-content: flex-end;
    }

    &--footer {
        margin: 0 auto;

        @include respond-to($desktop) {
            margin: 0 0 0 50px;
        }
    }
}

.phone__number {
    color: black;

    @include respond-to($tablet) {
      margin: 0 20px;
    }
}

.phone__order-cell {
    color: $main-color;
    border: none;
    line-height: 1.8;
    border-bottom: 2px solid $main-color;
    background-color: transparent;
}
