.phone {
    width: 125px;
    text-align: right;

    &--footer {
        margin: 0 auto;
    }
}

.phone__number {
    color: black;
}

.phone button {
    color: $main-color;
    border: none;
    border-bottom: 2px solid $main-color;
    background-color: transparent;
}