.price {
    padding: 120% 15px 0;
    position: relative;
    background-image: url(../image/mobile/price-bg-mobile@1x.png);
    background-size: 80%;
    background-position: left top;
    background-repeat: no-repeat;

    @include blue-ring;

    @include respond-to($retina) {
        background-image: url(../image/mobile/price-bg-mobile@2x.png);
    }

    &::before {
        top: 5%;
        left: 22%;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 7%;
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      height: 150px;
      background-color: #fff;
      box-shadow: 0 0 0 40px #f8f8f8;
      border-radius: 50%;
      z-index: -1;
    }

    @include respond-to($tablet) {
        padding-top: 100px;
        background-image: none;

        &::before, &::after {
            display: none;
        }
    }

    @include respond-to($desktop) {
        // inherit tablet
    }
}

.price__inner {
    @include inner;

    @include respond-to($tablet) {
        position: relative;
        padding-left: 200px;
        text-align: left;
    }

    @include respond-to($desktop) {
        padding-left: 400px;
    }
}

.price__bg {
    @include respond-to($tablet) {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        left: -570px;
        background-image: url(../image/desktop/price-bg-desktop@1x.png);
        background-size: contain;
        background-position: right top;
        background-repeat: no-repeat;

        @include respond-to($retina) {
            background-image: url(../image/desktop/price-bg-desktop@2x.png);
        }

        @include blue-ring;

        &::before {
            top: 18%;
            left: 42%;
            width: 133px;
            height: 133px;
            box-shadow: 0 0 0 30px #2429ff;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 35%;
            left: 70%;
            transform: translateX(-50%);
            width: 550px;
            height: 550px;
            background-color: #fff;
            box-shadow: 0 0 0 100px #f8f8f8;
            border-radius: 50%;
            z-index: -1;
        }
    }

    @include respond-to($desktop) {
        top: -100px;
        height: 115%;
        left: -800px;
        background-image: url(../image/desktop/price-bg-desktop@1x.png);

        @include respond-to($retina) {
            background-image: url(../image/desktop/price-bg-desktop@2x.png);
        }

        @include blue-ring;

        &::before {
            left: 53%;
        }
    }
}

.price__title {
    position: relative;

    @include caption-style;
    @include caption-after;
}

.price__title-bg {
    @include respond-to($tablet) {
        display: block;
        position: absolute;
        right: 40px;
        top: -40px;
        width: 130px;
        height: 130px;
        background-image: url(../image/q@1x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 0;
        margin: 0;

        @include respond-to($retina) {
            background-image: url(../image/q@2x.png);
        }
    }

    @include respond-to($desktop) {
        right: 0;
        top: -60px;
        width: 220px;
        height: 220px;

        @include respond-to($retina) {
            background-image: url(../image/q@2x.png);
        }
    }
}

.price__list {
    @include ul-none;

    @include respond-to($desktop) {
        columns: 2;
    }
}

.price__desc {
    padding: 20px 0 0;
    font-size: 24px;

    @include respond-to($desktop) {
        font-size: 50px;
        margin: 0;
        line-height: normal;
    }
}

.price__desc span {
    color: $main-color;
}

.price__week span {
    font-weight: 800;
}
