.profile__name {
    text-align: left;
}

.profile__img {
    text-align: center;
    margin: 0 auto;

     @include respond-to($desktop) {
         width: 100%;
     }
}

.profile p {
    font-size: 14px;
}