.wave {
    width: 80px;
    height: 13px;
    position: absolute;
    background-image: url(../../image/wave.png );
    background-repeat: no-repeat;

    &--top {
        top: 21%;
        right: 3%;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 20px;
            right: 0;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $decor-color;
        }
    }

    &--bottom {
        top: 47%;
    }

    &--bottom-price {
        width: 92px;
        height: 15px;
        top: 13%;
        right: 10%;
    }

    &--header {
      right: 0;
    }
}
