.wave {
    width: 80px;
    height: 13px;
    position: absolute;
    background-image: url(../image/wave.png );
    background-repeat: no-repeat;
    background-size: contain;

    @include respond-to($desktop) {
        width: 120px;
        height: 16px;
        background-image: url(../image/wave-tablet.png );
    }

     @include respond-to($desktop) {
        width: 140px;
        height: 20px;
        background-size: 100%;
        background-image: url(../image/wave-desktop.png );
     }

    &--top {
        top: 21%;
        right: 3%;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 20px;
            right: 0;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: $decor-color;
        }

         @include respond-to($tablet) {
            top: -15%;
            left: 80%;

            &::after {
                top: 120px;
                right: -20px;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 160px;
                right: -100px;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: $decor-color;
            }
        }

        @include respond-to($desktop) {
            top: 0;
        }
    }

    &--bottom {
        top: 47%;

        @include respond-to($tablet) {
            top: 0;
            left: 40%;
        }

        @include respond-to($desktop) {
            top: 17%;
            left: 40%;
        }
    }

    &--bottom-price {
        width: 92px;
        height: 15px;
        top: 13%;
        right: 10%;

        @include respond-to($tablet) {
            top: 63%;
            right: 80%;
        }

        @include respond-to($desktop) {
            top: 70%;
            right: 70%;
            width: 144px;
            height: 20px;
            background-size: contain;
        }
    }

    &--header {
      right: 0;
    }


}
