@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroylight.woff2") format("woff2"), url("../fonts/Gilroylight.woff") format("woff"), url("../fonts/Gilroylight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroyextrabold.woff2") format("woff2"), url("../fonts/Gilroyextrabold.woff") format("woff"), url("../fonts/Gilroyextrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  text-align: center;
  overflow-x: hidden;
  font-family: "Gilroy", "Arial", "Tahoma", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  color: black;

  @media (min-width: 641px) and (max-width: 1024px) {
    text-align: left;
    font-size: 16px;
    min-width: 641px
  }

  @media (min-width: 1025px) {
    font-size: 18px;
    min-width: 1025px
  }
}

.mobile-hidden {
  display: none;

  @media (min-width: 640px) {
    display: block;
  }
}

.center-wrap {
  @media (min-width: 640px) {
    max-width: 755px;
    margin: 0 auto;
  }

  @media (min-width: 1025px) {
      max-width: 1170px;
      margin: 0 auto;
  }
}

